<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" href="https://github.com/richleland/pygments-css/blob/master/github.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <title>{{ page.title }}</title>
</head>
<body>
<div class="page_head">
    <a href="/" class="home"><img class="icon" src="/img/portrait.jpg"></a>
    <div class="title">{{ page.title }}</div>
</div>
<div class="page_content">
    {{ content }}
</div>
<script src="http://apps.bdimg.com/libs/require.js/2.1.9/require.min.js"
        data-main="/js/comment"
        async="async"
        defer="defer">
</script>
<script src="/js/common.js" async="async" defer="defer"></script>
</body>
</html>
